# ==========================================
# Pastas de Compilação (O MAIS IMPORTANTE)
# ==========================================
[Bb]in/
[Oo]bj/

# ==========================================
# Arquivos de Configuração Local do Visual Studio
# ==========================================
.vs/
*.user
*.userosscache
*.sln.docstates

# ==========================================
# Outros arquivos temporários e de log
# ==========================================
*.log
*.cache
*.suo